@media (prefers-reduced-motion) {
  .section-anim {
    transition: none;
  }
}

/* 1080px */
@media (max-width: 67.5rem) {
  .container {
    padding: 0 5rem;
  }
  .grid {
    column-gap: 4rem;
    row-gap: 7rem;
  }

  .header {
    padding: 1.7rem 3rem;
  }
}

/* 768px */
@media (max-width: 48em) {
  .container {
    padding: 0 4rem;
  }

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid {
    row-gap: 5rem;
  }

  .section-hero,
  .section-about,
  .section-skills-education {
    margin-bottom: 4rem;
  }

  /* Header & Navigation */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    backdrop-filter: blur(2px);
    display: none;
  }

  .overlay.active,
  .hamburger {
    display: block;
  }

  .header {
    padding: 1.7rem;
  }

  .navigation {
    font-size: var(--txt-sz-lrg);
  }

  .nav-link-list {
    background-color: rgb(7, 46, 65);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;

    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.15s ease-in-out;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-link-list.active {
    transform: translateX(0%);
    pointer-events: auto;
    visibility: visible;
  }

  .nav-link-list li {
    padding: 2rem;
  }

  /* Hero */
  .hero-text-logo {
    display: none;
  }

  /* About */
  .about-img-box img,
  .image-container::before {
    width: 35%;
    left: 32.5%;
  }

  /* Skills and Education */
  .skills-list svg,
  .education-logo-name svg {
    width: 6rem;
  }

  /* Projects */
  .project-img {
    width: 80%;
  }

  .project-img:last-child {
    grid-row: 3;
  }
}

/* 480px */
@media (max-width: 30em) {
  html {
    font-size: 56.25%;
  }

  .container {
    padding: 0 2.5rem;
  }

  .section-hero,
  .section-about,
  .section-skills-education,
  .section-project {
    margin-bottom: 0;
  }

  .section-contact {
    margin-bottom: 2rem;
  }

  .primary-heading {
    white-space: normal;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }

  .tertiary-heading {
    font-size: 2rem;
  }

  /* Header */
  .header-text-logo > * {
    font-size: 2rem;
  }
}

/* 320px */
@media (max-width: 20em) {
  /* Hero */
  .hero-text > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  /* Skills and Education */
  .skills-list svg,
  .education-logo-name svg {
    width: 5rem;
  }
}
