:root {
  /* Color */
  --color-primary: #143f60;
  --color-primary-dark: #133147;
  --color-text: #f1dfe1;
  --color-text-accent: #a6ebc9;
  --color-accent: #ef3e36;

  /* Font */
  --font-primary: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  line-height: 1;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-primary);
  overflow-x: hidden;
}

p span {
  color: var(--color-text-accent);
}

a {
  display: inline-block;
  text-decoration: none;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.secondary-heading,
.tertiary-heading {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.secondary-heading {
  font-size: 3.6rem;
  letter-spacing: -0.5px;
  margin-bottom: 5.5rem;
}

.tertiary-heading {
  color: var(--color-text-accent);
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.section-hero {
  padding: 0 6.4rem;
}

.section-about,
.section-project,
.section-contact {
  margin-bottom: 5rem;
  padding: 2rem 6.4rem 0 6.4rem;
}

/* Header */
.hero-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

.logo {
  color: var(--color-accent);
  font-size: 2.4rem;
}

/* Navigation */
.navigation {
  display: flex;
  gap: 2.2rem;
}

.resume {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-text-accent);
  font-weight: 600;
}

.resume:visited,
.resume:link {
  font-size: 1.8rem;
  padding: 1rem;
  transition: all 0.3s;
}

.resume:hover,
.resume:active {
}

.nav-lists {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

.nav-list:visited,
.nav-list:link {
  display: inline-block;
  text-decoration: none;
  color: #f1dfe1;
  font-size: 1.8rem;
  padding: 1rem;
  transition: all 0.3s;
}

.nav-list:hover,
.nav-list:active {
  color: var(--color-accent);
}

/* Hero Page */
.hero {
  height: 100vh;
  height: 100svh;
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  gap: 4rem;
  align-items: center;
}

.hero-text > * {
  margin-bottom: 2rem;
}

.hero-text-role {
  font-size: 2rem;
}

.hero-text-intro {
  font-size: 7.4rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.hero-text-name {
  color: var(--color-accent);
}

.hero-main-msg {
  font-size: 2rem;
  line-height: 1.2;
}

.hero-btn {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 1.1rem;
  border: 1px solid var(--color-accent);
  margin-top: 2rem;
}

.hero-btn:visited,
.hero-btn:link {
  color: var(--color-accent);
  transition: all 0.3s;
}

.hero-btn:hover,
.hero-btn:active {
  color: var(--color-text);
  background-color: var(--color-accent);
  font-weight: 700;
}

.hero-text-logo {
  font-size: 17rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* .hero-text-logo > * {
  display: inline-block;
} */

/* {CV} */
.hero-text-logo span:nth-child(1) {
  color: var(--color-accent);
  margin-bottom: 15rem;
}

.hero-text-logo span:nth-child(2) {
  margin-bottom: 11rem;
}

.hero-text-logo span:nth-child(3) {
  margin-bottom: 8rem;
}

.hero-text-logo span:nth-child(4) {
  color: var(--color-accent);
  margin-bottom: 5rem;
}

/* About */
.about {
  display: grid;
  gap: 4rem;
  align-items: center;
  margin-bottom: rem;
}

.about-img-box img {
  width: 50%;
  background-color: var(--color-text-accent);
}

.about-text-box {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
}

.about-text-box p {
  margin-bottom: 1.5rem;
}

/* Skills & Education */
.section-skills-education {
  margin-bottom: 8rem;
  fill: var(--color-text);
  font-size: 1.6rem;
}

.section-skills-education h3 {
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin: 4rem auto;
  padding: 0 10rem;
}

.skill svg,
.education-frame svg {
  width: 7.4rem;
}

.education {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.education-frame {
  flex-grow: 1;
  max-width: 30rem;
  overflow: hidden;
}

.education-name p {
  font-size: 2.4rem;
}

.education-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

/* Project */
.project {
  display: grid;
  gap: 4rem;
  align-items: center;
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-img-container img {
  width: 95%;
  object-fit: cover;
  border-radius: 3px;
  background-color: #a6ebc9;
  padding: 0.15rem;
}

.project-details {
  font-size: 1.6rem;
  line-height: 1.3;
  padding: 2rem;
  letter-spacing: 0.75px;
}

.project-category-title {
  padding-bottom: 1rem;
}

.project-text-container p {
  padding-bottom: 2rem;
}

.project-btn {
  font-weight: 500;
  border: 1px solid var(--color-accent);
  border-radius: 3px;
  color: var(--color-accent);
  padding: 1rem;
}

.project-btn:link,
.project-btn:visited {
  transition: all 0.3s;
}

.project-btn:hover,
.project-btn:active {
  background-color: #ef3e36;
  color: var(--color-primary-dark);
  font-weight: 700;
}

/* Contact */
.contact {
  min-height: 90vh;
  min-height: 90svh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  flex-direction: column;
  text-align: center;
}

.contact h2 {
  color: var(--color-accent);
  font-size: 9.8rem;
  text-align: center;
}
.contact p {
  font-size: 2rem;
  line-height: 1.2;
}

.contact-icons {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.contact-icons svg {
  width: 6rem;
  fill: #ef3e36;
  padding: 1rem;
  border: 1.5px solid #ef3e36;
  border-radius: 4px;
}

/* Footer */
footer {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
